@import url('../base.css');
.upload-box {
    display: inline-block;
    position: relative;
}
.upload-text {
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #333;
    padding: 0 4px;
    cursor: default;
}
.upbtn{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 4px;
    background: #4d6dad;
    color: #fff;
}
.upbtn:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
}
.upload-btn1 {
    position: absolute;
    left: 137px;
    top: 1px;
}
.load2-box {
    height: 50px;
    border: 1px solid #ffab2e;
}
.load2-box li {
    list-style: none;
    height: 50px;
    display: inline-block;
}