@import url('../base.css');
.upload-box {
    position: relative;
    width: 200px;
}
.upload-text {
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #333;
    padding: 0 4px;
    cursor: default;
}
.upload-btn {
    position: absolute;
    right: -9px;
    top: 1px;
    height: 30px;
    line-height: 30px;
    padding: 0 4px;
    background: #4d6dad;
    color: #fff;
}
.upload-btn:hover {
    color: #fff;
    text-decoration: none;
}