@import url('../base.css');
.test-block{
    background: #eee;
    font-size: 0.8em;
}
.test-box{
    width: 700px;
    height: 100px;
}
.window-info{
    position: absolute;
    top: 0;
    right: 0;
    background: #ffab3f;
}