@charset "utf-8";
/*初始化css样式*/
html, body { height: 100%; overflow: hidden; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 "\5FAE\8F6F\96C5\9ED1","Microsoft Yahei",arial,"Hiragino Sans GB",tahoma,"\5B8B\4F53" }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var, i { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul{ list-style:none; }
a { text-decoration:none;color: #4d6dad; }
a:hover { text-decoration:underline;color: #223253; }
sup { vertical-align:text-top; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; } table { border-collapse:collapse; border-spacing:0; }
a,input[type="input"],input[type="button"]{ cursor: pointer; }
.clear:after{
    display: block;
    content: '.';
    height: 0;
    visibility: hidden;
    clear: both;
}
.btn{
    display: inline-block;
    width: auto;
    font-size: 16px;
    color: #fff;
    padding: 5px 10px;
    background: #2D93CA;
    border-radius: 5px;
    text-align: center;
}
.btn:hover{
    text-decoration: none;
    opacity: 0.9;
    color: #333;
}
.btn-box{
    display: block;
    text-align: center;
    margin-top: 10px;
}
.body-container{
    font:14px Microsoft Yahei;
    color: #333;
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.header{
    height: 60px;
    background: #222;
    color: #9d9d9d;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}
.header-box{
    width: 60%;
    margin: 0 auto;
}
.header-box>h3{
    display: inline-block;
    line-height: 60px;
    font-size: 20px;
}
.time-box {
    float: right;
    height: 60px;
}
.time-box>b{
    display: inline-block;
    font-size: 16px;
    color: #B2B2B2;
    margin-top: 10px;
}
.days{
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    color: #B2B2B2;
    margin: 5px 0 0 10px;
}
.time-box>span{
    display: block;
    font-size: 12px;
    margin-top: 4px;
}
.btn-back{
    float: right;
    margin: 14px 0;
}
.arrow-left{
    float: left;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-right-color: #fff;
}
.arrow-body{
    float: left;
    width: 30px;
    height: 16px;
    background: #fff;
    margin: 8px 0;
}
.main{
    width: 1200px;
    /*height: 100%;*/
    /*min-height: 708px;*/
    margin: 20px auto 0 auto;
}
.main-container{
    width: 1180px;
    min-height: 868px;
    margin: 20px auto 0 auto;
    background: #f8f8fd;
    padding: 10px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5), 0 0 30px rgba(10, 10, 0, 0.1) inset;
}
h1{
    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 0 10px;
}
.list-contant{
    padding: 0 30px;
    font-size: 16px;
}
.list-contant li {
    line-height: 2;
}
.list-contant pre{
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    background: rgba(126, 136, 109, 0.24);
}
.li-list li{
    position: relative;
    list-style: disc;
}
.ol-list li{
    list-style: decimal;
}
.li-list li ol{
    padding: 0 26px;
}
.list-li-sub:before{
    content: '';
    display: inline-block;
    height: 3px;
    width: 3px;
    border: 1px solid #333;
    border-radius: 3px;
    margin-right: 10px;
}
.detail-url{
    color: #666;
    border-bottom: 1px dashed #999;
    float: right;
}
.detail-url:hover{
    text-decoration: none;
}
.important{
    color: #FF3C1D;
}
.icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/public/icon.png) no-repeat;
    vertical-align: middle;
}
.icon-date {
    background-position: -49px -246px;
}