/************** Commons ***************/
/*??????*/
.icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/public/icon.png) no-repeat;
    vertical-align: middle;
}
.icon-man {
    background-position: -45px -383px;
}
.icon-woman {
    background-position: -92px -383px;
}
.icon-mail-org {
    background-position: -144px -385px;
}
.name-list-nav{
    height:56px;
    line-height:56px;
    background: #0E65AF;
    padding:0 30px;
}
.name-list-nav ul{
    float:left;
    width:50%;
}
.name-list-nav ul li{
    float: left;
    width:106px;
    height:34px;
    line-height: 34px;
    margin-right:5%;
    margin-top:12px;
    text-align:center;
}
.name-list-nav ul li a{
    color:#fff;
    font-size:14px;
    cursor: default;
}
.name-list-nav ul li.sel-bk{
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    background: #2586D8;
}
.name-search-box{
    position: relative;
    float:right;
    /*width: 26%;*/
}
.name-search-box input{
    width: 220px;
    height:32px;
    border:none;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    padding-left:18px;
    display: inline-block;
}
.name-search-box i{
    position: absolute;
    cursor: pointer;
    top: 21px;
    right:12px;
    width:20px;
    height:20px;
    background:url("../img/public/search_icon_blue.png") no-repeat 3px 2px;
}
.left-tree{
    float: left;
    width: 200px;
    height: 100%;
    background-color: #FBFBFB;
}
.dg-form{
    float: left;
    width: 650px;
    height: 100%;
}
.sel-opts-box{
    text-align: center;
    padding: 10px 0;
}
.table-container{
    height: 100%;
    overflow-y: auto;
}
.list-htable{
    width: 100%;
    font-size: 14px;
}
.list-htable thead{
    color:#333;
    height: 48px;
    line-height: 48px;
}
.list-htable tbody{
    color:#666;
}
.list-htable tbody tr{
    height:40px;
    line-height: 40px;
}
.list-htable tr td:first-child{
    padding-left:55px;
}
.list-htable tbody tr:hover{
    background: #F9F9F9;
}
.list-htable tr.name-list-sel,.list-htable .name-list-sel:hover{
    background: #F0EEE6;
}
/*?????????*/
.more-poeple-list{
    height:100%;
    overflow: auto;
}
.ipt-box{
    background: #F7F7F7;
    padding: 10px 25px 0;
    overflow: hidden;
}
.name-btn{
    float:right;
    margin-top: 17px;
    margin-right:42px;
}
.name-btn button{
    width:98px;
    height:40px;
    font-size: 16px;
    margin-left:12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.sure-btn{
    background: #51C5C9;
    color:#fff;
    border:1px solid transparent;
}
.cancel-btn{
    border:1px solid #999999;
    color:#333;
    background: #fff;
}
/*??????????*/
.add-user-btn{
    float: left;
    height: 36px;
    line-height: 36px;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 8px;
    margin-right: 10px;
    background: #FFFFFF;
    cursor: pointer;
}
.added-list{
    float: left;
    width: 735px;
}
.close-btn-sm{
    margin: 0 5px;
}
.close-btn-sm i{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 8px;
    height: 14px;
    margin: 0 3px;
    background: url("../img/public/close_s.png") center 2px no-repeat;
    cursor: pointer;
}
.added-list .selected-box{
    width: 730px;
    padding: 0 5px;
    height: 36px;
    line-height: 36px;
    overflow-y: auto;
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
}
.added-list .selected-box span{
    display: inline-block;
    font-size: 14px;
    background-color: #fff!important;
    color: #333 !important;
}
.select-info{
    font-size: 12px;
    line-height: 32px;
    text-align: right;
    clear: both;
    margin: -1px 0;
}
/*?????б????*/

/*************************************************************************************************/


/*???????*/
.left-group{
    width:100px;
    float: left;
    background: #F2F2F2;
    height: 431px;
}
.left-group ul li{
    width:100px;
    height:50px;
    line-height:50px;
    text-align: center;
    float: left;
}
.left-group ul li i{
    height:50px;
    width:4px;
    float: left;
}
.left-group ul .group-cl i{
    background: #51C5C9;
}
.group-cl{
    background: #C1E4E6;
}
/*?????????*/
/***********zTree************/
.ztree li span {font-size:12px;}
/*.ztree li span {line-height:24px; margin-right:0;  float: left;  height: 24px;}*/
/*.ztree li a {padding:0 3px 0 1px; margin:0; cursor:pointer; color:#333; background-color: transparent;*/
/*text-decoration:none; vertical-align:top; display: inline-block  }*/
/*!*.ztree li span.button.switch {  float: left;width: 20px;  height: 24px; background: url("zTreeStyle/img/icon.png") -2px -48px no-repeat }*!*/
/*.ztree li span.button.roots_docu{*/
/*background-position: -2px 0;*/
/*}*/
/*.ztree li span.button.root_close {  background-position: -26px -72px;  }*/
/*.ztree li span.button.root_open {  background-position: -50px -72px;  }*/
/*.ztree li span.button.center_close {  background-position: -26px -24px;  }*/
/*.ztree li span.button.center_open {  background-position: -50px -24px;  }*/
/*.ztree li span.button.center_docu {  background-position: -2px -24px;  }*/
/*.ztree li span.button.bottom_close {  background-position: -26px -48px;  }*/
/*.ztree li span.button.bottom_open {  background-position: -50px -48px;  }*/
/*.ztree li ul {  padding: 0 0 0 20px;  }*/
/*.ztree li ul.line {  background-position: 1px 0; }*/
/*.ztree .ico_open,.ztree .ico_close,.ztree .ico_docu{  float: left;width: 20px!important;  height: 24px!important; background-position: center center!important;}*/
/*.ztree .level0 .ico_open,.ztree .level0 .ico_close{*/
/*background: url("zTreeStyle/img/tree-home.png") center center no-repeat;*/
/*}*/
/*.ztree .level1 .ico_open,.ztree .level1 .ico_close{*/
/*background: url("zTreeStyle/img/tree-intro.png") center center no-repeat;*/
/*}*/
/*.ztree .level2 .ico_open,.ztree .level2 .ico_close,.ztree li span.button.ico_docu{*/
/*background: url("zTreeStyle/img/tree-three.png") center center no-repeat;*/
/*}*/
/*.ztree li span.node_name{  padding: 0 4px;*/
/*margin-left: -3px;}*/
/*.ztree li a.curSelectedNode{  color: #FFFFFF;  background: transparent;  opacity: 1;filter: alpha(opacity=100);}*/
/*.ztree li a.curSelectedNode span.node_name{  background-color: #0E65AF;border-radius: 3px}*/
/****************** 组织选择 *******************/
.org-sel-box{
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.org-l-tree{
    float: left;
    width: 345px;
    height: 100%;
    overflow: auto;
}
.operate-btn-container{
    float: left;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}
.btn-box{
    display: table-cell;
    vertical-align: middle;
}
.ys-btn{
    display: inline-block;
    width: 72px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}
.ys-btn-block{
    width: 100%;
}
.ys-btn:hover{
    opacity: .9;
    filter: alpha(opacity=90);
}
.ys-btn.ys-btn-default{
    border-color: #B5B5B5;
    background-color: #ffffff;
}
.ys-btn.ys-btn-default:hover{
    background-color: #0E65AF;
    color: #ffffff;
    border-color: #0E65AF;
}
.operate-btn-container .ys-btn{
    display: block;
    margin: 11px auto;
}
.org-selected-box{
    float: left;
    width: 345px;
}
.selected-list li{
    line-height: 40px;
    padding-left: 20px;
    cursor: pointer;
}
.selected-list li.active{
    background-color: #F0EEE6;
}
/*新增人员选择器 3-27*/

.sel-people dl {
    clear: both;
    margin-bottom: 10px;
    width: 100%;
}

.sel-people dl dd {
    height: 32px;
    width: 100%;
}
.sel-people dl dt {
    float: left;
    width: 82px;
    height: 32px;
    line-height: 32px;
    margin-right: 15px;
    color: #333333;
    text-align: center;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.selected-box {
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    _height: 32px;
    max-height: 64px;
    overflow-y: auto;
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
}

.selected-box.active {
    border-color: #adadad;
}