@import url(base.css);
.main-left{
    float: left;
    width: 78%;
    min-height: 680px;
    padding: 10px;
    background: #f8f8fd;
    border: 1px solid #c0c0c0;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5), 0 0 30px rgba(10, 10, 0, 0.1) inset;
}
.main-right{
    float: right;
    width: 18%;
    min-height: 500px;
    max-height: 800px;
    background: #f8f8fd;
    border: 1px solid #c0c0c0;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5), 0 0 30px rgba(10, 10, 0, 0.1) inset;
}
.main-right > h3{
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #c0c0c0;
    padding: 0 10px;
}
.main-right > ul{
    max-height: 800px;
    font-size: 0;
    padding: 0 10px 0 35px;
    margin-top: 16px;
}
.main-right li{
    width: auto;
    padding: 5px 10px;
    font-size: 16px;
    list-style: disc;
}
.main-right li:hover{
    color: #223253;
    background: #f4efeb;
    list-style: disc;
}
.footer{
    width: 100%;
    height: 100px;
    margin: 60px auto 0 auto;
    border: 1px solid #999;
    font-size: 16px;
    background: #4d4d4d;
    box-shadow: 0 -2px 10px 4px rgba(0, 0, 0, 0.5);
}
.mianNav > li > a{
    color: #333;
}
.mianNav ul{
    display: none;
}
.mianNav > li:hover > ul{
    display: block;
}
.mianNav ul li{
    list-style: circle;
}
.article-list > li{
    font: 16px/1.5 red;
}
.article-list ol{
    padding: 0 30px;
}
.article-list b{
    border-bottom: 1px solid #999;
}
.article-list a{
    color: #666;
    border-bottom: 1px dashed #999;
    float: right;
}
.article-list a:hover{
    text-decoration: none;
}
.important{
    color: #FF3C1D;
}
.div-textarea {
    width: auto;
    min-height: 50px;
    border:1px solid #999;
    padding: 4px;
    font-size: 14px;
}
.div-textarea:focus {
    box-shadow: 0 0 2px 1px #78aeda, 0 0 2px #78aeda inset;
}
.div-textarea:empty:before {    /*div为空时显示*/
    content: attr(placeholder);
    color: #ffab3f;
}
.div-textarea:focus:before {    /*div焦点时内容为空*/
    content: none;
}