div {
  background: #fff;
}
/*Mixins*/
.test1 {
  background: red;
  display: block;
}
.mixins1 {
  background: red;
  display: block;
}
.mixins2 {
  font-size: 16px;
  color: blue;
}
.mixins2:hover {
  color: #0E65AF;
}
.mixins3 {
  width: 20px;
  height: 20px;
  border: 20px solid #333;
}
/*嵌套*/
ul {
  color: #e5e5e5;
  font-size: 18px;
}
ul li {
  color: #00B83F;
  display: block;
}
ul li > ul {
  color: #0E65AF;
}
