@import url(base.css);
#demo5 p, #demo5 div{
    margin: 0 auto;
    width: 50%;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    background: #66a6e7;
    overflow: hidden;
    margin-bottom: 6px;
}
.goodsName {
    float: left;
}
.goodsPrice {
    float: right;
    margin-right: 20px;
}
.total {
    float: right;
}
#demo5 .choose {
    background: #00ee00;
}
#demo6 {
    width: 400px;
    margin: 0 auto;
}
.todolist {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #fff;
    background: #00B83F;
    margin-bottom: 5px;
}