@import url(base.css);
#demo5 p, #demo5 div{
    margin: 0 auto;
    width: 50%;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    background: #66a6e7;
    overflow: hidden;
    margin-bottom: 6px;
}
.goodsName {
    float: left;
}
.goodsPrice {
    float: right;
    margin-right: 20px;
}
.total {
    float: right;
}
#demo5 .choose {
    background: #00ee00;
}
#demo6 {
    width: 400px;
    margin: 0 auto;
}
.list-box {
    height: 200px;
    background: #eee;
    overflow-y: auto;
    margin-top: 5px;
}
.todolist {
    position: relative;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #fff;
    background: #354445;
    padding: 0 10px;
    margin-bottom: 5px;
    z-index: 1;
}
.listCheckedBg {
    height: 30px;
    line-height: 30px;
    background: #14d614;
    color: #8D8D8D;
    text-decoration: line-through;
}
.list-label {
    display: inline-block;
    width: 360px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: inherit;
}
.list-checkbox {
    margin-right: 6px;
}
.posRight {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.listOperate {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
button {
    background: #4b72a4;
    padding: 2px 10px;
    color: #fff;
    border: none;
}
button:hover {
    opacity: 0.8;
}
/*动画效果*/
.todolist {
    transition: all .8s;
    -moz-transition: all .8s; /* Firefox 4 */
    -webkit-transition: all .8s; /* Safari 和 Chrome */
    -o-transition: all .8s; /* Opera */
}
.todolist.listCheckedBg {
    transition: all .4s;
    -moz-transition: all .4s; /* Firefox 4 */
    -webkit-transition: all .4s; /* Safari 和 Chrome */
    -o-transition: all .4s; /* Opera */
}