@import url(base.css);
#demo5 p, #demo5 div{
    margin: 0 auto;
    width: 50%;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    background: #66a6e7;
    overflow: hidden;
    margin-bottom: 6px;
}
.goodsName {
    float: left;
}
.goodsPrice {
    float: right;
    margin-right: 20px;
}
.total {
    float: right;
}
#demo5 .choose {
    background: #00ee00;
}
#demo6 {
    width: 400px;
    margin: 0 auto;
}
.list-box {
    height: 200px;
    background: #eee;
    overflow-y: auto;
    margin-top: 5px;
}
.todolist {
    position: relative;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #fff;
    background: #354445;
    padding: 0 10px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.posRight {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}