@import "../base.css";
.masked{
    text-align: center;
    font-size: 40px;
    line-height: 1.1;
}
.masked h4{
    background: url(/assets/img/paint.png);
    -webkit-text-fill-color: transparent;/*文字填充颜色*/
    -webkit-background-clip:text;/*规定背景绘制区域*/
    -webkit-animation-name:masked-animation;/*动画的名称*/
    -webkit-animation-duration:20s;/*动画完成一个周期需要的时间*/
    -webkit-animation-iteration-count:infinite;/*动画播放次数--无限次*/
    -webkit-animation-timing-function:linear;/*规定动画的速度曲线*/
    color: #fff;
}
@-webkit-keyframes masked-animation{
    0%{ background-position: left bottom; }
    100%{ background-position: right bottom; }
}
.masked h5{
    -webkit-text-fill-color: transparent;/*文字填充颜色*/
    -webkit-text-stroke:1px #000;/*文字描边*/
}
.masked h3{
    background: linear-gradient(to bottom,#fcf,#000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.textbox li {
    height: 96px;
    border: 1px solid #333;
    padding: 1px 4px;
    margin-bottom: 4px;
}
.textbox li:focus {
    box-shadow: 0 0 5px blue;
}
.css-value {
    color: #ff8080;
}
.tips {
    background: #FFE6B0;
}
.block1 {
    height: 100px;
    border: 1px solid #ff8080;
    overflow: auto;
    background: #ffab2e;
    color: #fff;
}
@media screen and (max-width: 700px){
    .block1 {
        background: #00B83F;
    }
}
@media screen and (min-width: 1000px){
    .block1 {
        background: #0e65af;
    }
}

@media print {
    .block1 {
        display: none;
    }
}