@import "../base.css";
.article-list > li{
    font: 16px/1.5 red;
}
.article-list ol{
    padding: 0 30px;
}
.article-list b{
    border-bottom: 1px solid #999;
}
.article-list a{
    color: #666;
    border-bottom: 1px dashed #999;
    float: right;
}
.article-list a:hover{
    text-decoration: none;
}
.important{
    color: #FF3C1D;
}